<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/static/favicon.ico">
    <title>dachuang</title>
    <script defer="defer" type="module" src="/../static/js/chunk-vendors.57fd08a2.js"></script>
    <script defer="defer" type="module" src="/../static/js/app.e4f75ccb.js"></script>
    <link href="/../static/css/chunk-vendors.565d8c6a.css" rel="stylesheet">
    <link href="/../static/css/app.6317f17f.css" rel="stylesheet">
    <script defer="defer" src="/../static/js/chunk-vendors-legacy.21ce850e.js" nomodule></script>
    <script defer="defer" src="/../static/js/app-legacy.4eadb7a8.js" nomodule></script>
</head>

<body>
    <noscript>
        <strong>We're sorry but dachuang doesn't work properly without JavaScript enabled. Please enable it to
            continue.
        </strong>
    </noscript>
    <div id="app"></div>
</body>

</html>
