<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 id="loginuser" align="center">UserName</h1>
<form action="/UploadFile" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" name="file" />
    </div>
    <div>
        <input type="submit" value="提交"/>
    </div>
</form>
<body>
<form action="/UploadAvatar" method="post" enctype="multipart/form-data">
    <div>
        头像:<input type="file" name="avatar" />
    </div>
    <div>
        <input type="submit" value="提交"/>
    </div>
</form>
<form action="/ModifyPassword" method="post">
    <div>
        <input type="password" name="oldPassword" placeholder="旧密码"/>
    </div>
    <div>
        <input type="password" name="newPassword" placeholder="新密码"/>
    </div>
    <div>
        <input type="submit" value="提交"/>
    </div>
</form>
</body>
    <script type="text/javascript" src="/static/user/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/static/user/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/user/js/user.js"></script>
</html>
